@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-statue-of-liberty:before { content: "\f100"; }
.flaticon-002-sydney-opera-house:before { content: "\f101"; }
.flaticon-003-brandenburg-gate:before { content: "\f102"; }
.flaticon-004-christ-the-redeemer:before { content: "\f103"; }
.flaticon-005-golden-gate:before { content: "\f104"; }
.flaticon-006-buddha:before { content: "\f105"; }
.flaticon-007-empire-state-building:before { content: "\f106"; }
.flaticon-008-cambodia:before { content: "\f107"; }
.flaticon-009-notre-dame:before { content: "\f108"; }
.flaticon-010-great-wall-of-china:before { content: "\f109"; }
.flaticon-011-saint-paul-cathedral:before { content: "\f10a"; }
.flaticon-012-colosseum:before { content: "\f10b"; }
.flaticon-013-burj-al-arab:before { content: "\f10c"; }
.flaticon-014-eiffel-tower:before { content: "\f10d"; }
.flaticon-015-fuji:before { content: "\f10e"; }
.flaticon-016-giza:before { content: "\f10f"; }
.flaticon-017-taj-mahal:before { content: "\f110"; }
.flaticon-018-hagia-sophia:before { content: "\f111"; }
.flaticon-019-chichen-itza:before { content: "\f112"; }
.flaticon-020-big-ben:before { content: "\f113"; }
.flaticon-021-london-eye:before { content: "\f114"; }
.flaticon-022-louvre:before { content: "\f115"; }
.flaticon-023-petronas-twin-tower:before { content: "\f116"; }
.flaticon-024-merlion:before { content: "\f117"; }
.flaticon-025-moai:before { content: "\f118"; }
.flaticon-026-neuschwanstein-castle:before { content: "\f119"; }
.flaticon-027-machu-picchu:before { content: "\f11a"; }
.flaticon-028-petra:before { content: "\f11b"; }
.flaticon-029-leaning-tower-of-pisa:before { content: "\f11c"; }
.flaticon-030-cathedral-of-saint-basil:before { content: "\f11d"; }
.flaticon-031-stonehenge:before { content: "\f11e"; }
.flaticon-032-temple-of-heaven:before { content: "\f11f"; }
.flaticon-033-arc-de-triomphe:before { content: "\f120"; }
.flaticon-034-ho-chi-minh-mausoleum:before { content: "\f121"; }
.flaticon-035-capitol:before { content: "\f122"; }
.flaticon-036-windmill:before { content: "\f123"; }

$font-Flaticon-001-statue-of-liberty: "\f100";
$font-Flaticon-002-sydney-opera-house: "\f101";
$font-Flaticon-003-brandenburg-gate: "\f102";
$font-Flaticon-004-christ-the-redeemer: "\f103";
$font-Flaticon-005-golden-gate: "\f104";
$font-Flaticon-006-buddha: "\f105";
$font-Flaticon-007-empire-state-building: "\f106";
$font-Flaticon-008-cambodia: "\f107";
$font-Flaticon-009-notre-dame: "\f108";
$font-Flaticon-010-great-wall-of-china: "\f109";
$font-Flaticon-011-saint-paul-cathedral: "\f10a";
$font-Flaticon-012-colosseum: "\f10b";
$font-Flaticon-013-burj-al-arab: "\f10c";
$font-Flaticon-014-eiffel-tower: "\f10d";
$font-Flaticon-015-fuji: "\f10e";
$font-Flaticon-016-giza: "\f10f";
$font-Flaticon-017-taj-mahal: "\f110";
$font-Flaticon-018-hagia-sophia: "\f111";
$font-Flaticon-019-chichen-itza: "\f112";
$font-Flaticon-020-big-ben: "\f113";
$font-Flaticon-021-london-eye: "\f114";
$font-Flaticon-022-louvre: "\f115";
$font-Flaticon-023-petronas-twin-tower: "\f116";
$font-Flaticon-024-merlion: "\f117";
$font-Flaticon-025-moai: "\f118";
$font-Flaticon-026-neuschwanstein-castle: "\f119";
$font-Flaticon-027-machu-picchu: "\f11a";
$font-Flaticon-028-petra: "\f11b";
$font-Flaticon-029-leaning-tower-of-pisa: "\f11c";
$font-Flaticon-030-cathedral-of-saint-basil: "\f11d";
$font-Flaticon-031-stonehenge: "\f11e";
$font-Flaticon-032-temple-of-heaven: "\f11f";
$font-Flaticon-033-arc-de-triomphe: "\f120";
$font-Flaticon-034-ho-chi-minh-mausoleum: "\f121";
$font-Flaticon-035-capitol: "\f122";
$font-Flaticon-036-windmill: "\f123";